.color-A{
    background-color: #ADE7F7;
}

.color-B{
    background-color: #DCF7AD;
}

.color-C{
    background-color: #F9CBCA;
}

.color-D{
    background-color: #D5CAF9;
}

.color-E{
    background-color: #7DDF6C;
}

.color-F{
    background-color: #ADE7F7;
}

.color-G{
    background-color: #1BBEF7;
}

.color-H{
    background-color: #1BF7A0;
}